Repository voicetestdev/voicetest: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, tsc-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    web/node_modules/.*|
    \.venv/.*|
    web/dist/.*
  )$

repos:
  # Python - Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # TypeScript/JavaScript - svelte-check and tsc
  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd web && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^web/src/.*\.(ts|svelte)$
        pass_filenames: false
      - id: tsc-check
        name: tsc-check
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: ^web/src/.*\.ts$
        pass_filenames: false

  # Security - Semgrep
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.152.0
    hooks:
      - id: semgrep
        args: ['--config', 'p/python', '--config', 'p/security-audit', '--error', '--skip-unknown-extensions']
        files: \.py$

  # Markdown - mdformat
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter
          - mdformat-footnote

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^web/node_modules/
      - id: check-added-large-files
        args: ['--maxkb=10000']
        exclude: ^web/node_modules/
      - id: check-merge-conflict

dedup services
  tests/unit/conftest.py
  tests/unit/test_chat.py
  tests/unit/test_rest.py
  tests/unit/test_rest_agents.py
  tests/unit/test_rest_imports.py
  tests/unit/test_rest_platform.py
  tests/unit/test_surface_coverage.py
  voicetest/broadcast.py
  voicetest/calls.py
  voicetest/chat.py
  voicetest/cli.py
  voicetest/container.py
  voicetest/coordinator.py
  voicetest/pathutil.py
  voicetest/rest.py
  voicetest/services/runs.py
  voicetest/services/settings.py
  web/bun.lockb
Due: none

Fix CI: skipLibCheck, longer E2E timeout, stale openapi import
  scripts/export_openapi.py
  voicetest/web/rest.py
  web/e2e/playwright.config.ts
  web/tsconfig.json
Due: none

move app service to a module
  voicetest/services/__init__.py
  voicetest/services/app_services.py
Due: none

remove mocking clarify cancel interface
  tests/unit/conftest.py
  tests/unit/test_chat.py
  tests/unit/test_chat_ws.py
  tests/unit/test_coordinator.py
  tests/unit/test_rest_lifespan.py
  tests/unit/test_rest_runs.py
  voicetest/services/run_runner.py
  voicetest/web/broadcast.py
  voicetest/web/chat.py
  voicetest/web/coordinator.py
Due: none

modal tweaks
  pyproject.toml
  web/src/components/RunsView.svelte
  web/src/components/TestsView.svelte
Due: svelte-check

catch more transient errors
  docs/development.md
  tests/unit/llm/test_claudecode.py
  uv.lock
  voicetest/llm/claudecode.py
  voicetest/util/retry.py
Due: none

Edit improvements (#49)
  docs/development.md
  pyproject.toml
  tests/unit/llm/test_claudecode.py
  uv.lock
  voicetest/llm/claudecode.py
  voicetest/util/retry.py
  web/src/components/RunsView.svelte
  web/src/components/TestsView.svelte
Due: svelte-check

fallback for livekit config
  tests/unit/storage/test_repositories.py
  tests/unit/test_container.py
  tests/unit/test_rest_agents.py
  voicetest/container.py
  voicetest/services/agents.py
  voicetest/storage/repositories.py
  voicetest/web/calls.py
  web/src/components/TestsView.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

bump version
  pyproject.toml
Due: none

Livekit error (#50)
  pyproject.toml
  tests/unit/storage/test_repositories.py
  tests/unit/test_container.py
  tests/unit/test_rest_agents.py
  voicetest/container.py
  voicetest/services/agents.py
  voicetest/storage/repositories.py
  voicetest/web/calls.py
  web/src/components/TestsView.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

support tool nodes
  tests/fixtures/retell/sample_config_function_node.json
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/models/test_agent.py
  uv.lock
  voicetest/engine/conversation.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/models/agent.py
Due: none

bump version
  pyproject.toml
  uv.lock
Due: none

simpler docs
  docs/development.md
  voicetest/models/agent.py
Due: none

comment cleanup
  tests/integration/conftest.py
  tests/integration/test_calls.py
  tests/integration/test_calls_docker.py
  tests/integration/test_calls_e2e.py
  tests/integration/test_livekit_api.py
  tests/integration/test_platforms.py
  tests/integration/test_streaming.py
  tests/integration/test_websocket.py
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_modules.py
  tests/unit/engine/test_session.py
  tests/unit/exporters/test_livekit.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/exporters/test_vapi.py
  tests/unit/importers/test_registry.py
  tests/unit/llm/test_base.py
  tests/unit/llm/test_claudecode.py
  tests/unit/services/test_diagnosis.py
  tests/unit/test_api_diagnosis.py
  tests/unit/test_cache.py
  tests/unit/test_chat.py
  tests/unit/test_claude_plugin.py
  tests/unit/test_cli.py
  tests/unit/test_prompt_update.py
  tests/unit/test_rest.py
  tests/unit/test_rest_agents.py
  tests/unit/test_rest_imports.py
  tests/unit/test_rest_platform.py
  tests/unit/test_rest_runs.py
  tests/unit/test_snippets.py
  tests/unit/test_surface_coverage.py
Due: none

convert name
  web/src/components/RunsView.svelte
  web/src/lib/types.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

handle and migrate missing node type
  tests/unit/storage/test_repositories.py
  tests/unit/test_rest_agents.py
  tests/unit/test_surface_coverage.py
  voicetest/cli.py
  voicetest/exceptions.py
  voicetest/services/agents.py
  voicetest/storage/repositories.py
  voicetest/web/rest.py
Due: none

support new retell endpoints
  docs/recipes/import-call-history.md
  tests/unit/importers/transcripts/test_retell.py
  voicetest/importers/transcripts/retell.py
Due: none

update lock packages
  uv.lock
Due: none

bump version
  pyproject.toml
  tests/unit/platforms/test_retell.py
  uv.lock
  voicetest/platforms/retell.py
Due: none

bump version
  pyproject.toml
  tests/unit/test_rest_platform.py
  uv.lock
  voicetest/util/cache.py
Due: none

move to new retell endpoints (#55)
  docs/recipes/import-call-history.md
  pyproject.toml
  tests/unit/importers/transcripts/test_retell.py
  tests/unit/platforms/test_retell.py
  tests/unit/test_rest_platform.py
  uv.lock
  voicetest/importers/transcripts/retell.py
  voicetest/platforms/retell.py
  voicetest/util/cache.py
Due: none

notify on cancelled tests
  tests/unit/models/test_results.py
  tests/unit/test_rest_runs.py
  voicetest/models/results.py
  voicetest/web/rest.py
  web/src/components/RunsView.svelte
  web/src/lib/stores.test.ts
  web/src/lib/stores.ts
Due: svelte-check, tsc-check

UI improvements for cancelling tests (#56)
  pyproject.toml
  tests/unit/models/test_results.py
  tests/unit/test_rest_runs.py
  voicetest/models/results.py
  voicetest/web/rest.py
  web/src/components/RunsView.svelte
  web/src/lib/stores.test.ts
  web/src/lib/stores.ts
Due: svelte-check, tsc-check

live call support and docs reorg
  .github/workflows/test.yml
  docs/MOLTBOT.md
  docs/PROPOSALS.md
  docs/research/background.md
  docs/research/live-audio-plan.md
  docs/research/proposals.md
  mkdocs.yml
  scripts/services.sh
  tests/integration/test_observer_e2e.py
  tests/unit/livecall/__init__.py
  tests/unit/livecall/test_audio_observer.py
  tests/unit/livecall/test_observer.py
  tests/unit/livecall/test_participant.py
  tests/unit/models/test_results.py
  tests/unit/storage/test_engine.py
  tests/unit/storage/test_repositories.py
  tests/unit/test_audio.py
  uv.lock
  voicetest/importers/transcripts/retell.py
  voicetest/judges/metric.py
  voicetest/judges/rule.py
  voicetest/livecall/agent_worker.py
  voicetest/livecall/audio_observer.py
  voicetest/livecall/livekit_adapter.py
  voicetest/livecall/observer.py
  voicetest/livecall/participant.py
  voicetest/models/results.py
  voicetest/storage/engine.py
  voicetest/storage/models.py
  voicetest/storage/repositories.py
  voicetest/util/audio.py
Due: none

fix heard add defaults
  voicetest/livecall/audio_observer.py
  voicetest/livecall/participant.py
  web/src/components/RunsView.svelte
Due: svelte-check

consolidate the integration test markings
  .github/workflows/test.yml
  .github/workflows/web-e2e.yml
  .gitignore
  pyproject.toml
  scripts/services.sh
  tests/integration/test_calls.py
  tests/integration/test_live_call_e2e.py
  tests/integration/test_observer_e2e.py
  tests/integration/test_ollama.py
  tests/integration/test_streaming.py
  tests/unit/test_calls.py
  voicetest/cli.py
  voicetest/compose/docker-compose.yml
  voicetest/livecall/agent_worker.py
  voicetest/web/calls.py
Due: none

remove macos extras
  .github/workflows/test.yml
Due: none

move to 3b
  .github/workflows/test.yml
  scripts/services.sh
  tests/integration/test_calls.py
  voicetest/cli.py
Due: none

restrict macos to such
  pyproject.toml
  uv.lock
Due: none

pause on ollama server bring up
  scripts/services.sh
Due: none

stage frontend
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

add livekit helpers
  tests/integration/livekit_helpers.py
  tests/integration/test_live_call_e2e.py
  tests/integration/test_observer_e2e.py
  tests/unit/services/test_runs.py
  tests/unit/test_calls.py
  voicetest/judges/metric.py
  voicetest/judges/rule.py
  voicetest/livecall/agent_worker.py
  voicetest/livecall/audio_observer.py
  voicetest/services/runs.py
  voicetest/web/calls.py
Due: none
