Repository voicetestdev/voicetest: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, tsc-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    web/node_modules/.*|
    \.venv/.*|
    web/dist/.*
  )$

repos:
  # Python - Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # TypeScript/JavaScript - svelte-check and tsc
  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd web && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^web/src/.*\.(ts|svelte)$
        pass_filenames: false
      - id: tsc-check
        name: tsc-check
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: ^web/src/.*\.ts$
        pass_filenames: false

  # Security - Semgrep
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.152.0
    hooks:
      - id: semgrep
        args: ['--config', 'p/python', '--config', 'p/security-audit', '--error', '--skip-unknown-extensions']
        files: \.py$

  # Markdown - mdformat
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter
          - mdformat-footnote

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^web/node_modules/
      - id: check-added-large-files
        args: ['--maxkb=10000']
        exclude: ^web/node_modules/
      - id: check-merge-conflict

special case for file vs rdbms
  tests/conftest.py
  tests/unit/storage/test_engine.py
  tests/unit/test_container.py
  voicetest/container.py
  voicetest/storage/engine.py
Due: none

special case for file vs rdbms (#18)
  tests/conftest.py
  tests/unit/storage/test_engine.py
  tests/unit/test_container.py
  voicetest/container.py
  voicetest/storage/engine.py
Due: none

split out graph node generation types
  tests/unit/test_retry.py
  voicetest/judges/decompose.py
  voicetest/retry.py
Due: none

flexible adapter
  README.md
  voicetest/llm/base.py
  voicetest/llm/claudecode.py
Due: none

package upgrade
  uv.lock
Due: none

syntax fix
  tests/unit/storage/test_engine.py
Due: none

Gengraph (#19)
  README.md
  tests/unit/storage/test_engine.py
  tests/unit/test_retry.py
  uv.lock
  voicetest/judges/decompose.py
  voicetest/llm/base.py
  voicetest/llm/claudecode.py
  voicetest/retry.py
Due: none

support global nodes, closes #20
  tests/fixtures/retell/sample_config_global_nodes.json
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_modules.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/models/test_agent.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/models/agent.py
Due: none

docs: document global nodes in README
  README.md
Due: none

fix: pop originator stack when leaving global node via regular edge
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  voicetest/engine/conversation.py
Due: none

bump version
  pyproject.toml
Due: none

support global nodes, closes #20 (#21)
  README.md
  pyproject.toml
  tests/fixtures/retell/sample_config_global_nodes.json
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_modules.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/models/test_agent.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/models/agent.py
Due: none

viz: style global nodes with purple border in graph
  tests/unit/exporters/test_graph_viz.py
  voicetest/exporters/graph_viz.py
  web/src/lib/types.ts
Due: svelte-check, tsc-check

fix: map retell source_type to retell-cf exporter for linked file saves
  tests/unit/services/test_agents.py
  voicetest/services/agents.py
Due: none

ui: show global node info in tooltip and edit modal
  web/src/components/AgentView.svelte
  web/src/components/NodePromptModal.svelte
Due: svelte-check

api: add PUT/DELETE endpoints for global node settings
  tests/unit/services/test_agents.py
  tests/unit/test_rest_agents.py
  tests/unit/test_surface_coverage.py
  voicetest/rest.py
  voicetest/services/agents.py
  web/src/lib/api.ts
Due: svelte-check, tsc-check

bump version
  pyproject.toml
  uv.lock
Due: none

api global call
  CLAUDE.md
  web/src/components/NodePromptModal.svelte
Due: svelte-check

Global nodes (#22)
  CLAUDE.md
  pyproject.toml
  tests/unit/exporters/test_graph_viz.py
  tests/unit/services/test_agents.py
  tests/unit/test_rest_agents.py
  tests/unit/test_surface_coverage.py
  uv.lock
  voicetest/exporters/graph_viz.py
  voicetest/rest.py
  voicetest/services/agents.py
  web/src/components/AgentView.svelte
  web/src/components/NodePromptModal.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

catch and surface ooc errs closes #23
  tests/unit/llm/test_claudecode.py
  tests/unit/test_chat.py
  tests/unit/test_retry.py
  voicetest/chat.py
  voicetest/exceptions.py
  voicetest/llm/claudecode.py
  voicetest/rest.py
  voicetest/retry.py
  web/src/components/ChatView.svelte
  web/src/components/RunsView.svelte
  web/src/lib/chat-store.test.ts
  web/src/lib/chat-store.ts
  web/src/lib/stores.ts
Due: svelte-check, tsc-check

more desc as quota exhausted
  tests/unit/llm/test_claudecode.py
  tests/unit/test_chat.py
  tests/unit/test_retry.py
  voicetest/chat.py
  voicetest/exceptions.py
  voicetest/llm/claudecode.py
  voicetest/rest.py
  voicetest/retry.py
  web/src/components/ChatView.svelte
  web/src/components/RunsView.svelte
  web/src/lib/chat-store.test.ts
  web/src/lib/chat-store.ts
  web/src/lib/stores.ts
Due: svelte-check, tsc-check

catch and surface ooc errs closes #23 (#24)
  tests/unit/llm/test_claudecode.py
  tests/unit/test_chat.py
  tests/unit/test_retry.py
  voicetest/chat.py
  voicetest/exceptions.py
  voicetest/llm/claudecode.py
  voicetest/rest.py
  web/src/components/ChatView.svelte
  web/src/components/RunsView.svelte
  web/src/lib/chat-store.test.ts
  web/src/lib/chat-store.ts
  web/src/lib/stores.ts
Due: svelte-check, tsc-check

agent, sticky tests, graph reload
  pyproject.toml
  tests/integration/test_ollama.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/judges/test_decompose.py
  tests/unit/judges/test_diagnosis.py
  tests/unit/judges/test_flow.py
  tests/unit/models/test_results.py
  tests/unit/test_audio.py
  voicetest/judges/decompose.py
  voicetest/judges/diagnosis.py
  voicetest/judges/flow.py
  voicetest/models/agent.py
  voicetest/services/testing/execution.py
  web/src/components/AgentView.svelte
  web/src/components/RunsView.svelte
  web/src/lib/index.ts
  web/src/lib/stores.ts
  web/src/lib/types.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

upgrade deps
  uv.lock
  web/bun.lockb
  web/package.json
Due: none

Interface cleanup (#26)
  pyproject.toml
  tests/integration/test_ollama.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/judges/test_decompose.py
  tests/unit/judges/test_diagnosis.py
  tests/unit/judges/test_flow.py
  tests/unit/models/test_results.py
  tests/unit/test_audio.py
  uv.lock
  voicetest/judges/decompose.py
  voicetest/judges/diagnosis.py
  voicetest/judges/flow.py
  voicetest/models/agent.py
  voicetest/services/testing/execution.py
  web/bun.lockb
  web/package.json
  web/src/components/AgentView.svelte
  web/src/components/RunsView.svelte
  web/src/lib/index.ts
  web/src/lib/stores.ts
  web/src/lib/types.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

move styles, add spinner
  web/src/App.svelte
  web/src/components/ImportView.svelte
  web/src/components/Modal.svelte
Due: svelte-check

move styles, add spinner (#29)
  web/src/App.svelte
  web/src/components/ImportView.svelte
  web/src/components/Modal.svelte
Due: svelte-check

bun lock update
  web/bun.lockb
Due: none

use static pool and clean up orphans
  voicetest/rest.py
  voicetest/storage/engine.py
Due: none

update docs, closes #30
  README.md
Due: none

updated docs
  .github/workflows/docs.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/cli.md
  docs/concepts.md
  docs/configuration.md
  docs/development.md
  docs/features.md
  docs/getting-started.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

fix dd sigfal issue
  pyproject.toml
Due: none

DuckDB concurrency fix (#31)
  .github/workflows/docs.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/cli.md
  docs/concepts.md
  docs/configuration.md
  docs/development.md
  docs/features.md
  docs/getting-started.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
  uv.lock
  voicetest/rest.py
  voicetest/storage/engine.py
  web/bun.lockb
Due: none

use uvx
  .github/workflows/docs.yml
Due: none

use uvx (#32)
  .github/workflows/docs.yml
Due: none

docs deploy
  .github/workflows/docs.yml
Due: none

update libs
  uv.lock
Due: none

docs deploy (#33)
  .github/workflows/docs.yml
  uv.lock
Due: none

fix doc formatting and linting
  .pre-commit-config.yaml
  docs/development.md
  docs/getting-started.md
  docs/index.md
  mkdocs.yml
Due: none

fix doc formatting and linting (#34)
  .pre-commit-config.yaml
  docs/development.md
  docs/getting-started.md
  docs/index.md
  mkdocs.yml
Due: none
