Repository voicetestdev/voicetest: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, tsc-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    web/node_modules/.*|
    \.venv/.*|
    web/dist/.*
  )$

repos:
  # Python - Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # TypeScript/JavaScript - svelte-check and tsc
  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd web && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^web/src/.*\.(ts|svelte)$
        pass_filenames: false
      - id: tsc-check
        name: tsc-check
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: ^web/src/.*\.ts$
        pass_filenames: false

  # Security - Semgrep
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.152.0
    hooks:
      - id: semgrep
        args: ['--config', 'p/python', '--config', 'p/security-audit', '--error', '--skip-unknown-extensions']
        files: \.py$

  # Markdown - mdformat
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter
          - mdformat-footnote

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^web/node_modules/
      - id: check-added-large-files
        args: ['--maxkb=10000']
        exclude: ^web/node_modules/
      - id: check-merge-conflict

add transition change cache
  tests/unit/test_split_cache_salt.py
  voicetest/engine/conversation.py
  voicetest/llm/base.py
Due: none

update e2e test
  web/e2e/settings-reactivity.e2e.ts
Due: none

move the animated gifs around
  README.md
Due: none

add rerun without cache option
  tests/unit/test_split_cache_salt.py
  voicetest/engine/conversation.py
  voicetest/llm/base.py
  voicetest/models/test_case.py
  voicetest/rest.py
  web/src/components/RunsView.svelte
  web/src/lib/stores.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

enforce timeout, set version
  tests/unit/test_rest_runs.py
  voicetest/rest.py
Due: none

test edit, export modal
  web/src/App.svelte
  web/src/components/TestsView.svelte
Due: svelte-check

format transitions in basemodel
  tests/unit/engine/test_modules.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/models/agent.py
Due: none

reduce graph height
  web/src/components/AgentView.svelte
  web/src/components/NodePromptModal.svelte
Due: svelte-check

only show sync stuff for linked to remote agents
  web/src/components/AgentView.svelte
Due: svelte-check

graph fix
  tests/fixtures/retell/sample_llm_with_variables.json
  voicetest/exporters/graph_viz.py
  web/e2e/graph-render.e2e.ts
Due: none

bump version
  pyproject.toml
Due: none

logic node, test teardown
  tests/fixtures/retell/sample_config_logic_split.json
  tests/unit/conftest.py
  tests/unit/importers/test_retell.py
  uv.lock
  voicetest/importers/retell.py
  web/e2e/global-setup.ts
  web/e2e/global-teardown.ts
  web/e2e/graph-render.e2e.ts
  web/e2e/helpers.ts
  web/e2e/playwright.config.ts
  web/e2e/test-persistence.e2e.ts
Due: none

Fix graph (#13)
  pyproject.toml
  tests/fixtures/retell/sample_config_logic_split.json
  tests/fixtures/retell/sample_llm_with_variables.json
  tests/unit/conftest.py
  tests/unit/importers/test_retell.py
  uv.lock
  voicetest/exporters/graph_viz.py
  voicetest/importers/retell.py
  web/e2e/global-setup.ts
  web/e2e/global-teardown.ts
  web/e2e/graph-render.e2e.ts
  web/e2e/helpers.ts
  web/e2e/playwright.config.ts
  web/e2e/test-persistence.e2e.ts
Due: none

s3 backend
  pyproject.toml
  tests/unit/test_cache.py
  uv.lock
  voicetest/cache.py
  voicetest/cli.py
  voicetest/rest.py
  voicetest/settings.py
Due: none

add pass
  uv.lock
  voicetest/cache.py
Due: none

s3 backend (#14)
  pyproject.toml
  tests/unit/test_cache.py
  uv.lock
  voicetest/cache.py
  voicetest/cli.py
  voicetest/rest.py
  voicetest/settings.py
Due: none

update cache to match dspy standards
  pyproject.toml
  tests/unit/test_cache.py
  uv.lock
  voicetest/cache.py
  voicetest/settings.py
Due: none

do not require boto
  tests/unit/test_cache.py
  voicetest/cache.py
Due: none

handle logic nodes
  tests/fixtures/retell/sample_config_logic_split.json
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_equations.py
  tests/unit/importers/test_retell.py
  voicetest/engine/conversation.py
  voicetest/engine/equations.py
  voicetest/importers/retell.py
  voicetest/models/agent.py
Due: none

handle logic nodes
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/exporters/test_graph_viz.py
  tests/unit/importers/test_retell.py
  tests/unit/services/test_agents.py
  tests/unit/services/test_cases.py
  tests/unit/services/test_platforms.py
  tests/unit/services/test_runs.py
  tests/unit/services/test_snippets.py
  tests/unit/test_container.py
  voicetest/engine/conversation.py
  voicetest/exporters/graph_viz.py
  voicetest/importers/retell.py
  web/e2e/global-setup.ts
  web/e2e/playwright.config.ts
  web/src/components/AgentView.svelte
Due: svelte-check

handle logic split
  tests/conftest.py
  tests/fixtures/graphs/graph_with_logic_split.json
  tests/unit/exporters/test_graph_viz.py
  tests/unit/exporters/test_livekit.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/exporters/test_vapi.py
  tests/unit/judges/test_diagnosis.py
  tests/unit/llm/test_claudecode.py
  voicetest/exporters/graph_viz.py
  voicetest/exporters/livekit_codegen.py
  voicetest/exporters/retell_cf.py
  voicetest/exporters/vapi.py
  voicetest/judges/diagnosis.py
  voicetest/llm/base.py
  voicetest/llm/claudecode.py
  voicetest/models/agent.py
Due: none

improve tests
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/exporters/conftest.py
  tests/unit/exporters/test_bland.py
  tests/unit/exporters/test_graph_viz.py
  tests/unit/exporters/test_livekit.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/exporters/test_retell_llm.py
  tests/unit/exporters/test_telnyx.py
  tests/unit/exporters/test_vapi.py
  tests/unit/importers/test_vapi.py
  tests/unit/judges/test_decompose.py
  tests/unit/llm/test_base.py
  tests/unit/services/test_decompose.py
  tests/unit/test_conversation.py
  tests/unit/test_llm.py
  tests/unit/test_vapi_exporter.py
Due: none

support extract variables
  tests/fixtures/retell/sample_config_extract_variables.json
  tests/unit/conftest.py
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_equations.py
  tests/unit/engine/test_modules.py
  tests/unit/engine/test_session.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/judges/test_metric.py
  tests/unit/models/test_agent.py
  voicetest/engine/conversation.py
  voicetest/engine/equations.py
  voicetest/engine/modules.py
  voicetest/engine/session.py
  voicetest/exporters/graph_viz.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/llm/claudecode.py
  voicetest/models/agent.py
  voicetest/simulator/user_sim.py
Due: none

use advance pattern
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/llm/test_base.py
  voicetest/chat.py
  voicetest/cli.py
  voicetest/engine/conversation.py
  voicetest/engine/livekit_llm.py
  voicetest/engine/session.py
Due: none

test fixes, readme updates
  README.md
  tests/unit/importers/test_retell.py
  uv.lock
Due: none

use test db
  tests/integration/conftest.py
  tests/integration/test_calls_docker.py
  tests/integration/test_calls_e2e.py
  tests/integration/test_websocket.py
  tests/unit/engine/test_conversation.py
  voicetest/engine/conversation.py
  voicetest/storage/repositories.py
Due: none

remove split mode
  README.md
  tests/unit/engine/test_session.py
  tests/unit/llm/test_base.py
  tests/unit/models/test_test_case.py
  tests/unit/test_rest_runs.py
  tests/unit/test_settings.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/engine/session.py
  voicetest/models/test_case.py
  voicetest/rest.py
  voicetest/services/testing/execution.py
  voicetest/settings.py
  web/src/components/RunsView.svelte
Due: svelte-check

transitions and state prompts
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/exporters/test_graph_viz.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell_llm.py
  tests/unit/llm/test_base.py
  tests/unit/models/test_agent.py
  voicetest/chat.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/exporters/graph_viz.py
  voicetest/exporters/retell_cf.py
  voicetest/exporters/retell_llm.py
  voicetest/importers/retell.py
  voicetest/importers/retell_llm.py
  voicetest/models/agent.py
  web/src/components/RunsView.svelte
  web/src/lib/types.test.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

update extract nodes
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
Due: none

remove dead code
  tests/unit/engine/test_session.py
  voicetest/engine/__init__.py
  voicetest/engine/modules.py
  voicetest/engine/session.py
  voicetest/simulator/user_sim.py
  voicetest/templating.py
Due: none

use cot where approp, remove end detection from user sim
  tests/unit/engine/test_session.py
  tests/unit/llm/test_base.py
  tests/unit/llm/test_claudecode.py
  tests/unit/simulator/test_user_sim.py
  voicetest/engine/conversation.py
  voicetest/judges/decompose.py
  voicetest/judges/diagnosis.py
  voicetest/judges/flow.py
  voicetest/judges/metric.py
  voicetest/llm/base.py
  voicetest/services/testing/execution.py
  voicetest/simulator/user_sim.py
Due: none

end node cleanup
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/simulator/test_user_sim.py
  tests/unit/test_streaming.py
  voicetest/engine/session.py
  voicetest/services/testing/execution.py
  voicetest/simulator/user_sim.py
Due: none

send on append
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/llm/test_base.py
  voicetest/chat.py
  voicetest/cli.py
  voicetest/engine/conversation.py
  voicetest/engine/livekit_llm.py
  voicetest/engine/session.py
Due: none

split and clean
  pyproject.toml
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/judges/test_metric.py
  tests/unit/llm/test_base.py
  tests/unit/test_rest_runs.py
  uv.lock
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/judges/metric.py
  voicetest/services/runs.py
  voicetest/storage/repositories.py
  web/src/components/RunsView.svelte
  web/src/lib/types.ts
Due: svelte-check, tsc-check

split and clean (#17)
  pyproject.toml
  tests/unit/engine/test_conversation.py
  tests/unit/engine/test_session.py
  tests/unit/judges/test_metric.py
  tests/unit/llm/test_base.py
  tests/unit/test_rest_runs.py
  uv.lock
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/judges/metric.py
  voicetest/services/runs.py
  voicetest/storage/repositories.py
  web/src/components/RunsView.svelte
  web/src/lib/types.ts
Due: svelte-check, tsc-check
