Repository voicetestdev/voicetest: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, tsc-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    web/node_modules/.*|
    \.venv/.*|
    web/dist/.*
  )$

repos:
  # Python - Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # TypeScript/JavaScript - svelte-check and tsc
  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd web && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^web/src/.*\.(ts|svelte)$
        pass_filenames: false
      - id: tsc-check
        name: tsc-check
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: ^web/src/.*\.ts$
        pass_filenames: false

  # Security - Semgrep
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.152.0
    hooks:
      - id: semgrep
        args: ['--config', 'p/python', '--config', 'p/security-audit', '--error', '--skip-unknown-extensions']
        files: \.py$

  # Markdown - mdformat
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter
          - mdformat-footnote

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^web/node_modules/
      - id: check-added-large-files
        args: ['--maxkb=10000']
        exclude: ^web/node_modules/
      - id: check-merge-conflict

Test links and endings (#5)
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/judges/test_pattern.py
  tests/unit/judges/test_rule.py
  tests/unit/test_linked_tests.py
  uv.lock
  voicetest/api.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/judges/pattern.py
  voicetest/judges/rule.py
  voicetest/models/test_case.py
  voicetest/pathutil.py
  voicetest/rest.py
  voicetest/settings.py
  voicetest/simulator/user_sim.py
  voicetest/storage/repositories.py
  web/e2e/playwright.config.ts
  web/e2e/test-persistence.e2e.ts
  web/src/components/TestsView.svelte
  web/src/lib/api.ts
Due: svelte-check, tsc-check

update deps, wrap paths
  pyproject.toml
  uv.lock
  voicetest/pathutil.py
  voicetest/rest.py
  web/src/components/ImportView.svelte
  web/src/components/TestsView.svelte
Due: svelte-check

update deps, wrap paths (#6)
  pyproject.toml
  uv.lock
  voicetest/pathutil.py
  voicetest/rest.py
  web/src/components/ImportView.svelte
  web/src/components/TestsView.svelte
Due: svelte-check

launch modal and var selection
  tests/unit/test_chat.py
  tests/unit/test_rest.py
  tests/unit/test_utils.py
  voicetest/agent_worker.py
  voicetest/calls.py
  voicetest/chat.py
  voicetest/rest.py
  voicetest/utils.py
  web/src/components/CallView.svelte
  web/src/components/ChatView.svelte
  web/src/components/LaunchModal.svelte
  web/src/lib/api.ts
  web/src/lib/call-store.ts
  web/src/lib/chat-store.ts
Due: svelte-check, tsc-check

bump version
  pyproject.toml
Due: none

launch modal and var selection (#7)
  pyproject.toml
  tests/unit/test_chat.py
  tests/unit/test_rest.py
  tests/unit/test_utils.py
  voicetest/agent_worker.py
  voicetest/calls.py
  voicetest/chat.py
  voicetest/rest.py
  voicetest/utils.py
  web/src/components/CallView.svelte
  web/src/components/ChatView.svelte
  web/src/components/LaunchModal.svelte
  web/src/lib/api.ts
  web/src/lib/call-store.ts
  web/src/lib/chat-store.ts
Due: svelte-check, tsc-check

add snippet finding
  README.md
  pyproject.toml
  tests/unit/test_conversation.py
  tests/unit/test_rest.py
  tests/unit/test_snippets.py
  tests/unit/test_templating.py
  tests/unit/test_utils.py
  uv.lock
  voicetest/api.py
  voicetest/container.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/exporters/voicetest_ir.py
  voicetest/models/agent.py
  voicetest/rest.py
  voicetest/snippets.py
  voicetest/templating.py
  voicetest/utils.py
  web/src/components/AgentView.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

add snippet finding (#8)
  README.md
  pyproject.toml
  tests/unit/test_conversation.py
  tests/unit/test_rest.py
  tests/unit/test_snippets.py
  tests/unit/test_templating.py
  tests/unit/test_utils.py
  uv.lock
  voicetest/api.py
  voicetest/container.py
  voicetest/engine/conversation.py
  voicetest/engine/modules.py
  voicetest/exporters/voicetest_ir.py
  voicetest/models/agent.py
  voicetest/rest.py
  voicetest/snippets.py
  voicetest/templating.py
  voicetest/utils.py
  web/src/components/AgentView.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

add diagnose and eval loop
  CLAUDE.md
  README.md
  pyproject.toml
  tests/unit/judges/test_diagnosis.py
  tests/unit/models/test_diagnosis.py
  tests/unit/test_api_diagnosis.py
  tests/unit/test_rest.py
  voicetest/api.py
  voicetest/judges/diagnosis.py
  voicetest/models/diagnosis.py
  voicetest/rest.py
  web/src/components/RunsView.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

export cf and import ext
  .gitignore
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell_llm.py
  tests/unit/platforms/__init__.py
  tests/unit/platforms/test_retell.py
  tests/unit/test_rest.py
  uv.lock
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/importers/retell_llm.py
  voicetest/models/agent.py
  voicetest/platforms/retell.py
  voicetest/rest.py
Due: none

add diagnose and eval loop (#9)
  .gitignore
  CLAUDE.md
  README.md
  pyproject.toml
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell_llm.py
  tests/unit/judges/test_diagnosis.py
  tests/unit/models/test_diagnosis.py
  tests/unit/platforms/__init__.py
  tests/unit/platforms/test_retell.py
  tests/unit/test_api_diagnosis.py
  tests/unit/test_rest.py
  uv.lock
  voicetest/api.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/importers/retell_llm.py
  voicetest/judges/diagnosis.py
  voicetest/models/agent.py
  voicetest/models/diagnosis.py
  voicetest/platforms/retell.py
  voicetest/rest.py
  web/src/components/RunsView.svelte
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

tools, wrapper, get cf working
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/test_rest.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/importers/retell_llm.py
  voicetest/models/agent.py
Due: none

view and edit metadata
  CLAUDE.md
  README.md
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/importers/test_retell_llm.py
  tests/unit/test_rest.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/rest.py
  web/src/components/AgentView.svelte
  web/src/lib/api.ts
Due: svelte-check, tsc-check

refactor components
  tests/unit/conftest.py
  tests/unit/test_rest.py
  tests/unit/test_rest_agents.py
  tests/unit/test_rest_platform.py
  tests/unit/test_rest_runs.py
  voicetest/rest.py
  web/src/components/AgentView.svelte
  web/src/components/ExportModal.svelte
  web/src/components/MetadataEditor.svelte
  web/src/components/NodePromptModal.svelte
  web/src/components/SnippetManager.svelte
  web/src/components/TransitionModal.svelte
Due: svelte-check

consolidate and dups
  voicetest/platforms/base.py
  voicetest/platforms/bland.py
  voicetest/platforms/livekit.py
  voicetest/platforms/registry.py
  voicetest/platforms/retell.py
  voicetest/platforms/telnyx.py
  voicetest/platforms/vapi.py
  voicetest/rest.py
Due: none

Cf export (#10)
  CLAUDE.md
  README.md
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/importers/test_retell_llm.py
  tests/unit/test_rest.py
  tests/unit/test_rest_agents.py
  tests/unit/test_rest_platform.py
  tests/unit/test_rest_runs.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/importers/retell_llm.py
  voicetest/models/agent.py
  voicetest/platforms/base.py
  voicetest/platforms/bland.py
  voicetest/platforms/livekit.py
  voicetest/platforms/registry.py
  voicetest/platforms/retell.py
  voicetest/platforms/telnyx.py
  voicetest/platforms/vapi.py
  voicetest/rest.py
  web/src/components/AgentView.svelte
  web/src/components/ExportModal.svelte
  web/src/components/MetadataEditor.svelte
  web/src/components/NodePromptModal.svelte
  web/src/components/SnippetManager.svelte
  web/src/components/TransitionModal.svelte
  web/src/lib/api.ts
Due: svelte-check, tsc-check

test cli and api have same func
  tests/unit/test_surface_coverage.py
Due: none

update demo and images
  README.md
  docs/demos/Makefile
  docs/demos/README.md
  docs/demos/dry-demo-dark.gif
  docs/demos/dry-demo-dark.webm
  docs/demos/dry-demo-light.gif
  docs/demos/dry-demo-light.webm
  docs/demos/web-demo-dark.gif
  docs/demos/web-demo-dark.webm
  docs/demos/web-demo-light.gif
  docs/demos/web-demo-light.webm
  pyproject.toml
  uv.lock
  web/demo/dry-demo.ts
  web/playwright.config.ts
Due: none

layout the cf export
  tests/unit/exporters/test_layout.py
  tests/unit/exporters/test_retell_cf.py
  tests/unit/importers/test_retell.py
  tests/unit/test_settings.py
  voicetest/exporters/layout.py
  voicetest/exporters/retell_cf.py
  voicetest/importers/retell.py
  voicetest/settings.py
Due: none

claude skill and cli
  .claude-plugin/marketplace.json
  .claude/commands
  .claude/skills
  README.md
  claude-plugin/.claude-plugin/plugin.json
  claude-plugin/commands/voicetest-convert.md
  claude-plugin/commands/voicetest-export.md
  claude-plugin/commands/voicetest-info.md
  claude-plugin/commands/voicetest-run.md
  claude-plugin/skills/voicetest/SKILL.md
  claude-plugin/skills/voicetest/references/platforms.md
  claude-plugin/skills/voicetest/references/test-format.md
  pyproject.toml
  tests/unit/test_claude_plugin.py
  tests/unit/test_cli.py
  tests/unit/test_surface_coverage.py
  uv.lock
  voicetest/cli.py
Due: none

update readme
  README.md
Due: none

no sec on non traced paths
  voicetest/services/agents.py
  voicetest/services/testing/cases.py
Due: none

more cli coverage and better test
  tests/unit/test_cli.py
  tests/unit/test_surface_coverage.py
  voicetest/cli.py
  voicetest/services/runs.py
Due: none

add decompose
  tests/unit/judges/test_decompose.py
  tests/unit/models/test_decompose.py
  tests/unit/services/test_decompose.py
  tests/unit/test_cli.py
  tests/unit/test_surface_coverage.py
  voicetest/cli.py
  voicetest/container.py
  voicetest/judges/decompose.py
  voicetest/models/decompose.py
  voicetest/rest.py
  voicetest/services/__init__.py
  voicetest/services/decompose.py
Due: none

add service tests
  tests/unit/services/test_agents.py
  tests/unit/services/test_cases.py
  tests/unit/services/test_diagnosis.py
  tests/unit/services/test_discovery.py
  tests/unit/services/test_evaluation.py
  tests/unit/services/test_execution.py
  tests/unit/services/test_platforms.py
  tests/unit/services/test_runs.py
  tests/unit/services/test_settings.py
  tests/unit/services/test_snippets.py
  voicetest/services/discovery.py
Due: none

fix modal styles
  voicetest/demo/helpdesk-agent.json
  voicetest/demo/travel-agent.json
  web/demo/global-setup.ts
  web/src/components/ExportModal.svelte
Due: svelte-check

add Optimize tab with Decompose UI, fix agent deletion cascade
  voicetest/simulator/user_sim.py
  voicetest/storage/models.py
  voicetest/storage/repositories.py
  web/demo/dry-demo.ts
  web/src/App.svelte
  web/src/components/AgentView.svelte
  web/src/components/ExportModal.svelte
  web/src/components/OptimizeView.svelte
  web/src/components/SnippetManager.svelte
  web/src/lib/api.ts
  web/src/lib/stores.ts
  web/src/lib/types.ts
Due: svelte-check, tsc-check

update dry demo to show config→optimize tab transition
  docs/demos/dry-demo-dark.gif
  docs/demos/dry-demo-dark.webm
  docs/demos/dry-demo-light.gif
  docs/demos/dry-demo-light.webm
  web/demo/dry-demo.ts
Due: none

add visible cursor dot to demo recordings
  docs/demos/dry-demo-dark.gif
  docs/demos/dry-demo-dark.webm
  docs/demos/dry-demo-light.gif
  docs/demos/dry-demo-light.webm
  web/demo/cursor.ts
  web/demo/dry-demo.ts
  web/demo/web-demo.ts
Due: none

use macOS-style arrow pointer in demo recordings
  docs/demos/dry-demo-dark.gif
  docs/demos/dry-demo-dark.webm
  docs/demos/dry-demo-light.gif
  docs/demos/dry-demo-light.webm
  web/demo/cursor.ts
Due: none

add example .env
  .env.example
  .gitignore
Due: none

generic modal and use dialog
  web/src/App.svelte
  web/src/components/AgentView.svelte
  web/src/components/ExportModal.svelte
  web/src/components/LaunchModal.svelte
  web/src/components/Modal.svelte
  web/src/components/NewRunDialog.svelte
  web/src/components/NodePromptModal.svelte
  web/src/components/TestsView.svelte
  web/src/components/TransitionModal.svelte
Due: svelte-check

svelte cleanup
  web/src/App.svelte
  web/src/components/AgentView.svelte
  web/src/components/MetadataEditor.svelte
  web/src/components/NewRunDialog.svelte
  web/src/components/RunsView.svelte
Due: svelte-check

fix e2e test
  web/e2e/live-call.e2e.ts
  web/e2e/playwright.config.ts
  web/e2e/settings-reactivity.e2e.ts
  web/e2e/test-persistence.e2e.ts
Due: none
